*.suo 
*.pdb
*.exe
*.ilk
*.log
*.pch
*.obj
*.tlog
*.ipch

*.idb
ELEC499/GestureRecognition/GestureRecognition/ycrcb_img.png
ELEC499/GestureRecognition/GestureRecognition/ycrcb_img_multiplied.png
*.dll
*.db
*.opendb
ELEC499/ELEC499/ProgressReport/2018_499_Progress_Report_rubric.pdf
*.avi
*.png
*.mp4
